body {
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle,rgba(33, 163, 200, 1) 0%, rgba(59, 59, 59, 1) 50%, rgba(0, 56, 176, 1) 100%);
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

/* Шапка */
.header {
    background: linear-gradient(135deg, #020207, #57d0ff);
    padding: 12px 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgba(255, 0, 0, 0.1);
}

.header img {
    height: 50px;
    margin-right: 15px;
}
.header-main-text {
    font-size: 62px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 40px 0;        
}


.header-title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

/* Контейнер форм */
.container-auth {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

/* Блоки форм */
.auth-box {
    width: 380px;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.auth-box h3 {
    text-align: center;
    margin-bottom: 25px;
}

.form-control, .btn {
    border-radius: 10px;
    height: 46px;
}

.btn-primary {
    margin-top: 10px;
}

/* Стили для переключения вкладок */
.nav-tabs .nav-link {
    border-radius: 10px 10px 0 0;
}
.nav-tabs .nav-link.active {
    background-color: #4da0ff;
    color: #fff;
}
